# Devstutya Pandey

## Which demogaphics are most likely to be involved in gun violence?

Through this research question, I will explore which specific parts of the population (age, race, sex, etc) are most likely to be involved in gun violence. This research will be conducted by using the data frame displayed below.

In [1]:
import pandas as pd 
raw_data = pd.read_csv("../data/raw/full_data.csv")
raw_data

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED
...,...,...,...,...,...,...,...,...,...,...,...
100793,100794,2014,12,Homicide,0,M,36.0,Black,100,Home,HS/GED
100794,100795,2014,12,Homicide,0,M,19.0,Black,100,Street,HS/GED
100795,100796,2014,12,Homicide,0,M,20.0,Black,100,Street,HS/GED
100796,100797,2014,12,Homicide,0,M,22.0,Hispanic,260,Street,Less than HS
100797,100798,2014,10,Homicide,0,M,43.0,Black,100,Other unspecified,HS/GED